.modal-header{
	padding: 12px 15px;
	background-color: #333;
}
.modal-title{
	font-size: 18px;
	color: #fff;
}
.btn.btn-success.add-cat {
  background-color: #000;
  font-size: 17px;
  font-weight: 500;
}
.add-cat.btn.btn-primary {
  background: #000;
}
.actionBtnContainer{
	display: flex;
	align-items: center;
}
.actionBtnContainer >button{
	border: 0;
	margin: 0;
	font-size: 14px;
}
.actionBtnContainer >span{
margin-right: 11px;
font-weight: bolder;
}
.btn.btn-success.add-cat:hover {
  background: red;
  color: #fff;
}